Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Megascans/3D_Plants/Acacia/MI_Acacia_01.uasset
Content/Megascans/3D_Plants/Acacia/MI_AcaciaWind_01.uasset
Content/Megascans/3D_Plants/Acacia/scxhxmp_2K_Translucency.uasset
Content/Megascans/3D_Plants/Acacia/SM_Acacia_02.uasset
Content/Megascans/3D_Plants/Acacia/SM_Acacia_01.uasset
Content/Megascans/3D_Plants/Acacia/SM_Acacia_05.uasset
Content/Megascans/3D_Plants/Acacia/SM_Acacia_03.uasset
Content/Megascans/3D_Plants/Acacia/SM_Acacia_04.uasset
Content/Megascans/3D_Plants/Acacia/SM_AcaciaDeadLeaves_02.uasset
Content/Megascans/3D_Plants/Acacia/SM_AcaciaDeadLeaves_01.uasset
Content/Megascans/3D_Plants/Acacia/SM_AcaciaDeadLeaves_03.uasset
Content/Megascans/3D_Plants/Acacia/T_Acacia_01_A.uasset
Content/Megascans/3D_Plants/Acacia/T_Acacia_01_O.uasset
Content/Megascans/3D_Plants/Acacia/T_Acacia_01_N.uasset
Content/Megascans/3D_Plants/Acacia/T_Acacia_01_R.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/Foliage/FT_Blackberry_vkmofctha_Var10_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/Foliage/FT_Blackberry_vkmofctha_Var11_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/Foliage/FT_Blackberry_vkmofctha_Var1_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/Foliage/FT_Blackberry_vkmofctha_Var12_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/Foliage/FT_Blackberry_vkmofctha_Var2_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/Foliage/FT_Blackberry_vkmofctha_Var3_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/Foliage/FT_Blackberry_vkmofctha_Var4_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/Foliage/FT_Blackberry_vkmofctha_Var5_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/Foliage/FT_Blackberry_vkmofctha_Var6_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/Foliage/FT_Blackberry_vkmofctha_Var7_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/Foliage/FT_Blackberry_vkmofctha_Var8_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/Foliage/FT_Blackberry_vkmofctha_Var9_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/MI_Blackberry_vkmofctha_2K.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/S_Blackberry_vkmofctha_Var10_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/MI_Blackberry_vkmofctha_Billboard_2K.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/S_Blackberry_vkmofctha_Var11_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/S_Blackberry_vkmofctha_Var12_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/S_Blackberry_vkmofctha_Var1_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/S_Blackberry_vkmofctha_Var3_lod1.uasset
Content/Megascans/3D_Plants/Blackberry_vkmofctha/S_Blackberry_vkmofctha_Var4_lod1.uasset
